/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Parents and Common Styles */

body {
    background-color: #00000D;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
}
header {
    background-color: #1E90FF;
    height: 75px;
}
h1, #modal-ahem .modal-header, #modal-ahem .modal-body, #modal-ahem .modal-footer {
    color: #000000;
}
#download {
    background-color: #383CC1;
    color: #F2F2FF;
}

/* Options Styles */

#inputs-container, #buttons-container {
    padding: 3%;
}
#column, #row, #color, #change, #reset {
    border-width: 1px;
    height: 2.5em;
    width: 75%;
}
#change {
    background-color: #4169E1;
}
#reset {
    background-color: #DE4839;
}

/* Contents Styles */

#grid-container {
    background-color: #FFFFFF;;
    border: 3px solid #1E90FF;
    border-radius: 8px;
    height: 90vw;
    margin: 5%;
    width: 90%;
}
#grid-container > table {
    color: #1E90FF;
    height: 100%;
    width: 100%;
}
#grid-container td {
    border: 2px solid #1E90FF;
}
article {
    padding: 5%;
}
li {
    margin: .75em 0;
}
span {
    background-color: #191970;
    border-radius: 5px;
    padding: 5px;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    #options-container {
        background-color: #120E43;
        height: calc(100vh - 75px);
        width: 25%;
    }
    #inputs-container, #buttons-container {
        padding: 5%;
    }
    #inputs-container .col-md-12, #buttons-container .col-md-12 {
        margin: 2.5% 0;
    }
    #contents-container {
        height: calc(100vh - 75px);
        overflow-y: scroll;
        width: 75%;
    }
    #grid-container {
        height: 67.5vw;
    }
}